@tailwind base;
@tailwind components;
@tailwind utilities;


/*========(Font_Family Start Here)==========*/

/*Poppins font family*/

@font-face {
    font-family: "Poppins Light";
    src: url(/src/assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins Normal ";
    src: url(/src/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins Medium";
    src: url(/src/assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins Semibold";
    src: url(/src/assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins Bold";
    src: url(/src/assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins Extrabold";
    src: url(/src/assets/fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "Poppins Black";
    src: url(/src/assets/fonts/Poppins/Poppins-Black.ttf);
}


/* Montserrat font family */

@font-face {
    font-family: "Montserrat Light";
    src: url(/src/assets/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Montserrat Normal";
    src: url(/src/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat Medium";
    src: url(/src/assets/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Montserrat Semibold";
    src: url(/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "Montserrat Bold";
    src: url(/src/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat Extrabold";
    src: url(/src/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: "Montserrat Black";
    src: url(/src/assets/fonts/Montserrat/Montserrat-Black.ttf);
}

/*========(Font_Family End Here)==========*/



.banner {
    background-image: url(/public/images/banner/banner.png);
    background-repeat: no-repeat;
   
    background-size: cover;
}  